$body-text-colour: white;
$card-text-colour: black;
$card-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

// BEGIN GLOBAL CSS
body {
  background-color: green;
  color: $body-text-colour;
}

.central {
  text-align: center;
}

.error {
  color: $body-text-colour;
}
// END GLOBAL CSS


// BEGIN GENERAL CSS
#deck-container {
  text-align: center;
  margin: 1rem;
}

#deck {
  display: inline-block;
}

#draw-input {
  width: 2rem;
  margin: 0 0.5rem;
}
// END GENERAL CSS


// BEGIN CARDS CSS
.card {
  position: relative;;
  display: inline-block;
  width: 8rem;
  height: 11rem;
  border: 1px solid black;
  border-radius: 0.6rem;
  background-color: white;
  color: $card-text-colour;
  font-family: $card-font;
  margin: 0 0.5rem;
  margin-left: -0rem;
}

.card-suit-section img {
  height: 100%;
  display: block;
  margin: auto;
}

.card-suit-section {
  height: 40%;
  width: 100%;
  margin: auto;
  display: block;
}

.card-value-section {
  height: 30%;
  width: 100%;
  display: block;
}

.mirrored {
  transform:rotate(180deg);
}

.card-value-section span {
  display: block;
  text-align: center;
  padding: 0.5rem 0 0.2rem 0;
}

.card-value-section img {
  width: 1.2rem;
  display: block;
  margin: auto;
}

.left-align {
  float: left;
  padding-left: 0.4rem;
}
// END CARDS CSS
